<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>product detail</title>
    <link rel="stylesheet" href="chanpinxiangqing.css">
</head>
<body>


    <div class="max">
        <div class="topleft">
            <div class="line"></div>
            <div class="font">
            <p class="fontleft">PRODUCT</p>
            <p class="fontright">APPRECIATION</p>
            </div>
            <div class="english">Love is not rent,wedding is the witness of love and inheritance</div>
            <div class="productoppr">产 / 品 / 欣 / 赏</div>
            <div class="opprbottom">C H A N P I N</div>
        </div>
        <div class="wedding">
            <div class="wedtop">Wedding is the witness and heritage of love</div>
            <div class="wedmid"> <span>马来福双飘</span>中式嫁衣</div>
            <div class="wedbot">婚纱是爱情的见证和传承</div>

        </div>
        <div class="wedbottom">
            <div class="wedleft">
                <img src="" alt="图片" >  </div>
            <div class="wedright">
                <img src="" alt="图片" >
            </div>
        </div>
        <div class="design">
            <div class="box"></div>
            <div class="lange">设计师说</div>
            <div class="elange">DESINGER</div>
        </div>
        <div class="des">
            <div class="desboder">
            <div class="desimg"></div>
            </div>

            <div class="desspack">
                <p class="jiedu"> 设计师解读</p>
                <div class="spack"></div>
            </div>
        </div>
        <div class="design">
            <div class="box"></div>
            <div class="lange">作品信息</div>
            <div class="elange">DESINGER</div>
        </div>
  <div class="zuopin">
      <div class="zuopinimg">
          <img src="" alt="">
      </div>
      <div class="zuopinmid">
          <div class="midtop"></div>
          <div class="midbot">
              <img src="img/aaa.png" alt="">
          </div>
      </div>
      <div class="zuopinright">
          <img src="" alt="">
      </div>
    </div>
        <div class="design">
            <div class="box"></div>
            <div class="lange">设计亮点</div>
            <div class="elange">DESINGER</div>
        </div>
        <div class="light">
            <div class="lightone">
                 <div class="onetop"> ONE/<span> 立体剪裁袖手显瘦版型</span></div>
                <div class="leftimg">
                    <img src="" alt="" >
                </div>
                <div class="rightimg">
                    <img src="" alt="" >
                </div>
                <div class="wenzi">

                </div>

            </div>
            <div class="lightone two">
                <div class="onetop "> TWO/<span> 立体剪裁袖手显瘦版型</span></div>
                <div class="leftimg">
                    <img src="" alt="" >
                </div>
                <div class="rightimg">
                    <img src="" alt="" >
                </div>
                <div class="wenzi">

                </div>

            </div>
            <div class="lightone three">
                <div class="onetop"> ONE/<span> 立体剪裁袖手显瘦版型</span></div>
                <div class="leftimg">
                    <img src="" alt="" >
                </div>
                <div class="rightimg">
                    <img src="" alt="" >
                </div>
                <div class="wenzi">
                </div>
            </div>


        </div>

        <div class="design">
            <div class="box"></div>
            <div class="lange">原版工艺</div>
            <div class="elange">DESINGER</div>
        </div>
     <div class="gongyi">
        <div class="gongyiimg">
            <img src="" alt="图片呀">
        </div>
        <div class="zhuti">01 传统古典盘扣立领</div>
        <p class="zhuwen">古韵十足的传统立领设计复古金色盘扣 精细设计，精致大气</p>
    </div>
        <div class="gongyi">
            <div class="gongyiimg">
                <img src="" alt="图片呀">
            </div>
            <div class="zhuti">01 传统古典盘扣立领</div>
            <p class="zhuwen">古韵十足的传统立领设计复古金色盘扣 精细设计，精致大气</p>
        </div>
        <div class="gongyi">
            <div class="gongyiimg">
                <img src="" alt="图片呀">
            </div>
            <div class="zhuti">01 传统古典盘扣立领</div>
            <p class="zhuwen">古韵十足的传统立领设计复古金色盘扣 精细设计，精致大气</p>
        </div>
        <div class="gongyi">
            <div class="gongyiimg">
                <img src="" alt="图片呀">
            </div>
            <div class="zhuti">01 传统古典盘扣立领</div>
            <p class="zhuwen">古韵十足的传统立领设计复古金色盘扣 精细设计，精致大气</p>
        </div>

        <div class="design">
            <div class="box"></div>
            <div class="lange">物品实拍</div>
            <div class="elange">DESINGER</div>
        </div>
        <div class="IMG"></div>
        <div class="IMG"></div>
   <div class="kongbai"></div>
    </div>
</body>
</html>