<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../assets/css/product.css">
</head>
<body>
<div class="main">
    <div class="crumbs">
        <a href="index.php" class="home">home 首页
            <div class="underline"></div>
        </a>
        <span class="jiant">  &gt; </span>
        <span class="pro"> product 产品
            <div class="underline"></div>
        </span>
    </div>

    <section class="appr">
        <div class="appr_header">
            <div class="line"></div>
            <div class="name">
                <div class="etitle">Product Appreciation</div>
                <div class="des">Love is not rent, wedding is the witness of love and inheritances！</div>
            </div>
            <div class="title">产/品/欣/赏</div>
            <div class="ee">CHANPIN</div>
        </div>
        <div class="appr_bottom">
            <div class="appr_bot">
                <div class="pic">
                    <img src="" alt="">
                </div>
                <div class="explain">
                    <div class="etitle">Show Wo</div>
                    <div class="title">秀禾系列</div>
                    <div class="des">一针一线   为你装饰</div>
                    <div class="edes">Stitch for you to decorate</div>
                </div>
            </div>
            <div class="appr_bot appr_bot2">
                <div class="explain mask">
                    <div class="etitle">Wedding dress</div>
                    <div class="title">婚纱系列</div>
                    <div class="des">匠心挚爱   定制美好</div>
                    <div class="edes">My heart beloved custom beautiful</div>
                </div>
                <div class="pic">
                    <img src="" alt="">
                </div>
            </div>
            <div class="appr_bot appr_bot3">
                <div class="pic">
                    <img src="" alt="">
                </div>
                <div class="explain">
                    <div class="etitle">DRESS</div>
                    <div class="title">礼服系列</div>
                    <div class="des">做女神不做灰姑娘</div>
                    <div class="edes">Goddess do not do Cinderella</div>
                </div>
            </div>
            <div class="appr_bot appr_bot4">
                <div class="explain">
                    <div class="etitle">Bridesmaid</div>
                    <div class="title">伴娘服系列</div>
                    <div class="des">且以深情共白头</div>
                    <div class="edes">And a total of affectionate Baishou</div>
                </div>
                <div class="pic">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="hot">
        <div class="hot_header">
            <div class="title">热/门/产/品</div>
            <div class="hot_line">
                <div class="line"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="line"></div>
            </div>
            <div class="etitle">CHANPIN</div>
        </div>

        <ul class="hot_bottom">
            <li class="hot_list">
                <div class="hot_pic">
                    <img src="" alt="">
                </div>
                <div class="hot_text">
                    <div class="title">蓬蓬公主裙小礼服</div>
                    <p class="des">嫩嫩的水彩蓝，从珍珠、花朵、蕾丝、的细节着手，主打手工的细节。</p>
                </div>
            </li>
            <li class="hot_list">
                <div class="hot_pic">
                    <img src="" alt="">
                </div>
                <div class="hot_text">
                    <div class="title">蓬蓬公主裙小礼服</div>
                    <p class="des">嫩嫩的水彩蓝，从珍珠、花朵、蕾丝、的细节着手，主打手工的细节。</p>
                </div>
            </li>
            <li class="hot_list">
                <div class="hot_pic">
                    <img src="" alt="">
                </div>
                <div class="hot_text">
                    <div class="title">蓬蓬公主裙小礼服</div>
                    <p class="des">嫩嫩的水彩蓝，从珍珠、花朵、蕾丝、的细节着手，主打手工的细节。</p>
                </div>
            </li>
            <li class="hot_list">
                <div class="hot_pic">
                    <img src="" alt="">
                </div>
                <div class="hot_text">
                    <div class="title">蓬蓬公主裙小礼服</div>
                    <p class="des">嫩嫩的水彩蓝，从珍珠、花朵、蕾丝、的细节着手，主打手工的细节。</p>
                </div>
            </li>

            <li class="hot_list">
                <div class="hot_pic">
                    <img src="" alt="">
                </div>
                <div class="hot_text">
                    <div class="title">蓬蓬公主裙小礼服</div>
                    <p class="des">嫩嫩的水彩蓝，从珍珠、花朵、蕾丝、的细节着手，主打手工的细节。</p>
                </div>
            </li>
            <li class="hot_list">
                <div class="hot_pic">
                    <img src="" alt="">
                </div>
                <div class="hot_text">
                    <div class="title">蓬蓬公主裙小礼服</div>
                    <p class="des">嫩嫩的水彩蓝，从珍珠、花朵、蕾丝、的细节着手，主打手工的细节。</p>
                </div>
            </li>
        </ul>
    </section>

</div>
</body>
</html>