@font-face {
    font-family: 'iconfont';  /* project id 630324 */
    src: url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.eot');
    src: url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.woff') format('woff'),
    url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.svg#iconfont') format('svg');
}
.iconfont
{
    font-family:'iconfont';
}
i
{
    font-style: normal;
}
.crumbs{
    width: 1000px;
    height: 80px;
    padding: 0 88px;
    line-height: 80px;
    background: #fdfbfb;
    position: absolute;
    top: 470px;
    left: 50%;
    margin-left: -500px;
    z-index: 100;
    display: flex;
}
.crumbs p{
    font-size: 18px;
    color: black;
    font-weight: 600;
    line-height: 80px;
    margin-right: 10px;
    position: relative;
}
.crumbs>.ico_x{
    margin-right:10px ;
    text-align: center;
}
.icon1{
    font-size: 20px;
    color: black;
    line-height: 80px;
}
.home,.erji{
    position: relative;
    display: flex;
}

.underline{
    width: 40px;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 20px;
    left: 0;
}
.max{
     width: 1000px;
     margin: 0 auto;
    background: #fdfbfb;
     overflow: hidden;
     padding-left:  92px;
    padding-right:  92px;
     box-sizing: border-box;
 }
.topleft{
    height: auto;
    width:auto;
    margin-top:86px;
}
.line{
    height:2px;
    width:97px;
    background: #7f2d00;
}
.font{
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 3px;
}
.fontleft{
    font-size: 28px;
    color: #a97254;
    letter-spacing: 2px;
}
.fontright{
    margin-left: 20px;
    font-size: 19px;
    color: #804423;
}
.productoppr{
    color: #212121;
    font-size: 23px;
    letter-spacing: 5px;
    margin-top: 15px;
}
.opprbottom{
    letter-spacing: 8px;
    font-size: 19px;
    color:#d2d1d1;
    margin-top: 8px;
}
.wedding{
    margin-top: 40px;
}
.wedtop{
    color:  #804423;
    font-size: 23px;
}
.wedmid>span{
    font-size: 25px;
}
.wedmid{
    margin-top: 7px;
    font-size: 23px;
}
.wedbot{
    color: #929090;
    font-size: 17px;
    margin-top: 7px;
    letter-spacing: 1.5px;
}
.wedbottom{
    width:100%;
    height:400px;
    display: flex;
    margin-top: 25px;
}
.wedleft{
    width:50%;
    height: 100%;
    overflow: hidden;
    /*background: red;*/
}
.wedright{
    width:50%;
    height: 100%;
    overflow: hidden;

}
.design{
    width:277px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    align-items: center;
}
.box{
    width: 13px;
    height:13px;
    background: #000;
}
.lange{
 color: #000;
    font-size: 30px;
}
.elange{
    font-size: 15px;
    color:#804423 ;
}
.des{
    width:800px;
   margin:40px auto 0;

    display: flex;
}
.desboder{
    width:250px;
    height:250px;
    border: 1px solid #7d0022;
}
.desimg{
    width:190px;
    height:190px;
    overflow: hidden;
    /*background: red;*/
    margin: 30px auto;
}
.desspack{
    width:500px;
    height: 250px;
    margin-left: 40px;
}
.jiedu{
    margin-top: 10px;
}
.spack{
    margin-top: 20px;
    /*background: red;*/
    height: 180px;
}
.zuopin{
    width:100%;
    height:490px;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}
.zuopinimg{
    width:25.7%;
    height:100%;
    overflow: hidden;
}
.zuopinmid{
    width:34.5%;
    height: 100%;

    box-sizing: border-box;
}
.midtop{
    width:100%;
    height:270px;
}
.midbot{
    width:100%;
    height: 230px;
}
.zuopinright{
    width:31%;
    height:434px;
    margin-top: 80px;
    /*background: red;*/
    overflow: hidden;
}
.light{
    margin-top: 65px;
    width: 100%;
    height:1150px;
}
.lightone{
    width:50%;
    height:460px;
   float: left;
 position: relative;
}
.onetop{
    font-size: 30px;
    color: #7d0022;
    margin-top: 0;
    position: relative;
}
.onetop>span{
    position: absolute;
    left: 80px;
    top:5px;
    display: block;
    font-size: 27px;
    color:#383737 ;
    margin-top: 10px;
}
#span{
    position: absolute;
    left: 100px;
    top:5px;
    display: block;
    font-size: 27px;
    color:#383737 ;
    margin-top: 10px;
}
.leftimg{
    width:250px;
    height:250px;
    padding:4px;
    position: absolute;
    left: 0;
    top:90px;
     overflow: hidden;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.leftimg>img{
    display: block;
    width:100%;
    height:100%;
    /*background: red;*/
    border-radius: 50%;
}
.rightimg{
    width:200px;
    height:200px;
    padding:4px;
    position: absolute;
    right: 60px;
    bottom:10px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #ccc;
}
#threeleft{
    width:200px;
    height:200px;
    padding:4px;
    position: absolute;
    left: 0;
     top:210px;
    z-index: 1;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #ccc;
}
#threeright{
    width:250px;
    height:250px;
    padding:4px;
    position: absolute;
    left: 40%;
    top:100px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.rightimg>img{
    display: block;
    width:100%;
    height:100%;
    /*background: red;*/
    border-radius: 50%;
}
.wenzi{
    /*width:190px;*/
    height:64px;
    position: absolute;
    right: -75px;top:138px;
    /*background: yellow;*/
}
#wenzi{
    height:64px;
    position: absolute;
    left: 0;top:138px;
}
.two{
    margin-top: 388px;
}
.three{
    margin-top: -165px;
}
.gongyi{
    width:368px;
    height:380px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
}
.gongyiimg{
    width:100%;
    height:245px;
    overflow: hidden;
    /*background:red;*/
}
.gongyiimg>img{
    width:100%;
}

.zhuti{
    width:100%;
    height:50px;
    text-align: center;
    line-height: 50px;
    font-size: 17px;
    font-weight: bold;
}
.zhuwen{
    display: block;
    margin:0 auto;
    width:278px;
    text-align: center;
    line-height: 27px;
    font-size: 13px;
}
.IMG{
    width:760px;
    height: 785px;
     margin:30px auto;
    overflow: hidden;
}

.imgs{
    margin-top: 40px;
}
form{
    width:100%;
    height:100%;
}
.page{
    width: 100%;
    height: 70px;
    background: #773a3a;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
}
.pa_left{

    height: 70px;
    margin-left: 50px;
}
.pa_left h1{
    font-size: 20px;
    color: #fff;
    line-height: 70px;
    float: left;
}
.pa_left p{
    font-size: 16px;
    color: #fff;
    float: left;
    line-height: 70px;
}
.pa_right{

    height: 70px;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
}
.pa_right h1{
    font-size: 20px;
    color: #fff;
    line-height: 70px;
float: left;
}
.pa_right p{
    font-size: 16px;
    float: left;
    color: #fff;
    line-height: 70px;
}
.comment{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.com_box{
    width: 100%;

    /*height: 156px;*/
    /*background: skyblue;*/
    margin: 25px auto 10px;
}
.com_tu{
    width: 85px;
    height: 85px;
    overflow: hidden;
}
.com_tu img{
    height: 100%;
    width: auto;
}
.com_word{
    width: 800px;
    height: 100px;
    background: #f5f1f1;
    margin-left: 30px;
    margin-top: -65px;
    overflow: hidden;
}

.icon3{
    font-size: 26px;
    color: #a29f9f;
    margin-left: 65px;
    margin-right: 5px;
    line-height: 50px;
    float: left;
}
.com_word h1{
    font-size: 24px;
    color: #773a3a;
    font-family: "宋体";
    line-height: 50px;
    float: left;
}
.com_word span{
    font-size: 24px;
    color: #6d6a6a;
    font-family: "宋体";
    line-height: 50px;
    margin-left: 20px;
}
.com_word p{
    width: 705px;
    font-size: 12px;
    color: #6d6a6a;
    margin-left: 95px;
    padding-right: 30px;
}
.fenye{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background: pink;
    overflow: hidden;
}
.fe_box{
    width: 300px;
    height: 30px;
    background: skyblue;
    margin: 0 auto;
    margin-top: 20px;
}
/*留言开始*/
.message{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#upload{
    height: auto;
    display: flex;
    margin-top: 30px;
    margin-left: -50px;
    float: left;
    position: absolute;
    z-index: 999;
}
#upload input{
    width: 100px;
    height:100px;
    display: block;
    font-size: 0;
    position: relative;
    outline: none;
}
#upload input:after{
    content: "+";
    width: 100%;
    position: absolute;
    height: 100%;
    left:0;
    top:0;
    background: #e1dcdc;
    font-size: 80px;
    color: #fff;
    text-align: center;
    line-height: 85px;
}

#upload ul{
    height: auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 10px;
}
.liuyan{
    box-sizing: border-box;
    padding: 10px 60px 10px;
    width: 100%;
    height: 100px;
    background: #f3f3f3;
    border: 2px solid #848383;
    margin-top: 50px;
    margin-bottom: 20px;
}
.anniu{
    width: 117px;
    height: 40px;
    background: #464444;
    margin-top: 30px;
    color: #fff;
    position: absolute;
    right: 0;
}
.liuyanbox{

    margin-top: 50px;
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 70px;
}
#messbox{
    width: 100%;
    height: 440px;
    overflow: hidden;
}




