@import url("base.css");
@font-face {
    font-family: 'iconfont';  /* project id 630324 */
    src: url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.eot');
    src: url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.woff') format('woff'),
    url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.svg#iconfont') format('svg');
}
.iconfont
{
    font-family:'iconfont';
}
i
{
    font-style: normal;
}
/*body{*/
    /*background: #f5f5f5;*/
/*}*/

/*面包屑开始*/
.crumbs{
    width: 1000px;
    height: 80px;
    padding: 0 88px;
    line-height: 80px;
    background: #fdfbfb;
    position: absolute;
    top: 470px;
    left: 50%;
    margin-left: -500px;
    z-index: 100;
    display: flex;
}
.crumbs p{
    font-size: 18px;
    color: black;
    font-weight: 600;
    line-height: 80px;
    margin-right: 10px;
    position: relative;
}
.crumbs>.ico_x{
    margin-right:10px ;
    text-align: center;
}
.icon1{
    font-size: 20px;
    color: black;
    line-height: 80px;
}
.home,.erji{
    position: relative;
    display: flex;
}

.underline{
    width: 40px;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 20px;
    left: 0;
}
/*面包屑结束*/
.big_box{
    width: 1000px;
    height: auto;
    background: #fdfbfb;
    box-shadow:0 20px 50px 10px #ecebeb;
    margin: 0 auto 0;
}
/*中间大图开始*/
.pic{
    width: 100%;
    height: 557px;
    margin: 0 auto;
}
.pic img{
    width: 100%;
}
/*中间大图结束*/
/*品牌故事开始*/
.box{
    width: 100%;
    height: auto;
    background: #fdfbfb;
    margin: 0 auto 0;
}
.story{
    width: 100%;
    height: 51px;
    margin: 0 auto;
}
.s_left{
    width: 117px;
    height: 51px;
    margin-left: 150px;
    float: left;
}
.s_left h1{
    font-size: 18px;
    color: black;
}
.s_left p{
    font-size: 20px;
    color: black;
}
.s_right{
    width: 250px;
    height: 51px;
    float: left;
}
.s_right p{
    font-size: 51px;
    color: black;
    margin-top: -10px;
    float: left;
    margin-left: -6px;
    font-weight: 300;
}
.h2{
    font-size: 32px;
    color: black;
    line-height: 51px;
    margin-left: 5px;
    font-weight: 700;
    font-family: "楷体";
}
.word{
    width: 1000px;
    height: 209px;
    margin-top: 46px;
    margin-bottom: 30px;
}
.h5{
    font-size: 20px;
    color: #000;
    margin-left: 200px;
    font-weight: 500;
}
.zi{
    font-size: 17px;
    color: #b9b7b7;
    margin-left: 200px;
}
.content{
    font-size: 13px;
    color: #6b6a6a;
    margin-left: 200px;
    margin-top: 3px;
}
.content1{
    font-size: 13px;
    color: #6b6a6a;
    margin-left: 200px;
    margin-top: 31px;
}
/*结束*/
/*英文介绍*/
.english{
    width: 100%;
    height: 176px;
    margin: 0 auto;
}
.english p{
    font-size: 13px;
    color: #868484;
    margin: 0 150px;
}
.english p:nth-child(2){
    margin-top: 32px;
}
.english p:nth-child(3){
    margin-top: 32px;
}
/*英文介绍结束*/
/*图片开始*/
.picture{
    width: 100%;
    height: 637px;
    margin: 120px auto 0;
}
.tu1{
    width: 385px;
    height: 533px;
    margin-left: 151px;
    float: left;
    position: relative;
}
.tu1 img {
    width: 100%;
}
.zhezhao{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
}
.tu1:hover .zhezhao{
    background: rgba(0, 0, 0, 0.5);
}
.tu2:hover .zhezhao{
    background: rgba(0, 0, 0, 0.5);
}
.tu3:hover .zhezhao{
    background: rgba(0, 0, 0, 0.5);
}
.tu2{
    width: 130px;
    height: 130px;
    float: left;
    margin-left: 45px;
    position: relative;
}
.tu2 img{
    width: 100%;
}
.tu3{
    width: 240px;
    height: 355px;
    margin-left: 81px;
    margin-top: 46px;
    float: left;
    position: relative;
}
.tu3 img{
    width: 100%;
}
/*图片结束*/
/*高级定制服务开始*/
.content2{
    font-size: 13px;
    color: #6b6a6a;
    margin-left: 200px;
    margin-top: 31px;
    margin-right: 185px;
}
.port{
    width: 770px;
    height: 140px;
    margin: 20px auto 0;
}
.tupian{
    width: 132px;
    height: 132px;
    margin-left: 40px;
    float: left;
}
.jieshao{
    float: left;
    margin-left: 220px;
    margin-right: 41px;
    margin-top: -100px;
}
.jieshao p{
    font-size: 14px;
    color: #111;
}
.jieshao1{
    float: left;
    margin-left: 40px;
    margin-right: 200px;
    margin-top: 50px;
}
.jieshao1 p{
    font-size: 14px;
    color: #111;
}
.tupian1{
    width: 132px;
    height: 132px;
    margin-right: 40px;
    float: right;
    margin-top: -80px;
}
/*高级定制服务结束*/