@import url("base.css");
@font-face {
    font-family: 'iconfont';  /* project id 630324 */
    src: url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.eot');
    src: url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.woff') format('woff'),
    url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.svg#iconfont') format('svg');
}
.iconfont
{
    font-family:'iconfont';
}
i
{
    font-style: normal;
}
/*body{*/
    /*background: #f5f5f5;*/
/*}*/
.big_box{
    width: 1000px;
    height: auto;
    background: #fdfbfb;
    margin: 0 auto;
    box-shadow:1px 0 100px 10px #ecebeb;
}
/*面包屑开始*/
.bread{
    width: 100%;
    height: 107px;
    background: pink;
    margin: 0 auto;
}
.bread p{
    font-size: 20px;
    color: black;
    line-height: 107px;
    margin-left: 10px;
    float: left;
}
.bread p:first-child{
    margin-left: 88px;
}
.icon1{
    font-size: 20px;
    color: black;
    line-height: 107px;
    margin-left: 10px;
}
/*面包屑结束*/
/*中间大图开始*/
.pic{
    width: 100%;
    height: 557px;
    margin: 0 auto;
}
.pic img{
    width: 100%;
}
/*中间大图结束*/
/*品牌故事开始*/
.box{
    width: 100%;
    height: auto;
    background: #ffffff;
    margin: 0 auto 64px;
}
.story{
    width: 100%;
    height: 51px;
    margin: 0 auto;
}
.s_left{
    width: 117px;
    height: 51px;
    margin-left: 150px;
    float: left;
}
.s_left h1{
    font-size: 18px;
    color: black;
}
.s_left p{
    font-size: 20px;
    color: black;
}
.s_right{
    width: 250px;
    height: 51px;
    float: left;
}
.s_right p{
    font-size: 51px;
    color: black;
    margin-top: -10px;
    float: left;
    margin-left: -6px;
    font-weight: 300;
}
.h2{
    font-size: 32px;
    color: black;
    line-height: 51px;
    margin-left: 5px;
    font-weight: 700;
    font-family: "楷体";
}
/*.s_right h2{*/
    /*font-size: 32px;*/
    /*color: black;*/
    /*line-height: 51px;*/
    /*margin-left: 5px;*/
    /*font-weight: 600;*/
/*}*/
.word{
    width: 1000px;
    height: 209px;
    margin-top: 46px;
}
.h5{
    font-size: 20px;
    color: #000;
    margin-left: 200px;
    font-weight: 500;
}
/*.word h5{*/
    /*font-size: 20px;*/
    /*color: #000;*/
    /*margin-left: 200px;*/
/*}*/
.zi{
    font-size: 17px;
    color: #b9b7b7;
    margin-left: 200px;
}
.content{
    font-size: 13px;
    color: #6b6a6a;
    margin-left: 200px;
    margin-top: 3px;
}
.content1{
    font-size: 13px;
    color: #6b6a6a;
    margin-left: 200px;
    margin-top: 31px;
}
/*结束*/
/*英文介绍*/
.english{
    width: 100%;
    height: 176px;
    margin: 0 auto;
}
.english p{
    font-size: 13px;
    color: #868484;
    margin: 0 150px;
}
.english p:nth-child(2){
    margin-top: 32px;
}
.english p:nth-child(3){
    margin-top: 32px;
}
/*英文介绍结束*/
/*图片开始*/
.picture{
    width: 100%;
    height: 637px;
    margin: 120px auto 0;
}
.tu1{
    width: 385px;
    height: 533px;
    margin-left: 151px;
    float: left;
}
.tu1 img {
    width: 100%;
}
.tu2{
    width: 130px;
    height: 130px;
    float: left;
    margin-left: 45px;
}
.tu2 img{
    width: 100%;
}
.tu3{
    width: 240px;
    height: 355px;
    margin-left: 81px;
    margin-top: 46px;
    float: left;
}
.tu3 img{
    width: 100%;
}
/*图片结束*/
/*高级定制服务开始*/
.content2{
    font-size: 13px;
    color: #6b6a6a;
    margin-left: 200px;
    margin-top: 31px;
    margin-right: 185px;
}
.port{
    width: 770px;
    height: 140px;
    margin: 20px auto 0;
}
.tupian{
    width: 132px;
    height: 132px;
    margin-left: 40px;
    float: left;
}
.jieshao{
    float: left;
    margin-left: 220px;
    margin-right: 41px;
    margin-top: -100px;
}
.jieshao p{
    font-size: 14px;
    color: #111;
}
.jieshao1{
    float: left;
    margin-left: 40px;
    margin-right: 200px;
    margin-top: 50px;
}
.jieshao1 p{
    font-size: 14px;
    color: #111;
}
.tupian1{
    width: 132px;
    height: 132px;
    margin-right: 40px;
    float: right;
    margin-top: -80px;
}
/*高级定制服务结束*/