@import url("base.css");
@font-face {
    font-family: 'iconfont';  /* project id 630324 */
    src: url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.eot');
    src: url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.woff') format('woff'),
    url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.svg#iconfont') format('svg');
}
.iconfont
{
    font-family:'iconfont';
}
i
{
    font-style: normal;
}
/*面包屑开始*/
.bread{
    width: 1200px;
    height: 107px;
    background: pink;
    margin: 0 auto;
}
.bread p{
    font-size: 20px;
    color: black;
    line-height: 107px;
    margin-left: 10px;
    float: left;
}
.bread p:first-child{
    margin-left: 88px;
}
.icon1{
    font-size: 20px;
    color: black;
    line-height: 107px;
    margin-left: 10px;
}
/*面包屑结束*/
/*热门活动开始*/
.activity{
    width: 1200px;
    height: auto;
    margin: 0 auto 80px;
}
.act_top{
    width: 1025px;
    height: 283px;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 5px solid #e7e0e0;
}
.logo{
    margin-top: 66px;
}
.activity p{
    font-size: 15px;
    color: #b2b1b1;
}
.story{
    width: 1200px;
    height: 51px;
    margin: 20px auto 0;
}
.s_left{
    width: 155px;
    height: 51px;
    float: left;
}
.s_left h1{
    font-size: 18px;
    color: black;
}
.s_left p{
    font-size: 16px;
    color: #000;
    margin-left: 1px;
}
.s_right{
    width: 250px;
    height: 51px;
    float: left;
}
.s_right p{
    font-size: 51px;
    color: black;
    margin-top: -10px;
    float: left;
    margin-left: -10px;
}
.s_right h2{
    font-size: 32px;
    color: black;
    line-height: 51px;
    margin-left: 5px;
}
.wenzi{
    width: 1200px;
    height: 366px;
    overflow: hidden;
}
.wenzi h1{
    font-size: 35px;
    color: black;
    text-align: center;
    font-family: "宋体";
    margin-top: 85px;
}
.wenzi h2{
    font-size: 18px;
    color: #d74949;
    text-align: center;
    margin-top: 5px;
}
.wenzi h3{
    font-size: 28px;
    color: #777676;
    text-align: center;
    font-family: "宋体";
    margin-top: 5px;
}
.wenzi p{
    font-size: 28px;
    color: #504e4e;
    margin-top: 60px;
    margin-left: 530px;
}
.introduce{
    width:1200px;
    height: 162px;
    margin: 0 auto;
    /*background: skyblue;*/
    overflow: hidden;
}
.introduce h1{
    font-size: 21px;
    color: black;
    font-family: "宋体";
    margin-left: 320px;
    float: left;
}
.introduce h2{
    font-size: 21px;
    color: #9e9999;
    margin-left: 15px;
    margin-top: -2px;
}
.zi1{
    font-size: 12px;
    color: #9e9999;
    text-align: center;
    margin-top: 36px;
}
.introduce p{
    font-size: 12px;
    color: #9e9999;
    text-align: center;
}
.introduce1{
    width:1200px;
    height: 162px;
    margin: 0 auto;
    /*background: skyblue;*/
    overflow: hidden;
}
.introduce1 h1{
    font-size: 21px;
    color: black;
    font-family: "宋体";
    margin-left: 355px;
    float: left;
}
.introduce1 h2{
    font-size: 21px;
    color: #9e9999;
    margin-left: 15px;
    margin-top: -2px;
}
.zi1{
    font-size: 12px;
    color: #9e9999;
    text-align: center;
    margin-top: 36px;
}
.introduce1 p{
    font-size: 12px;
    color: #9e9999;
    text-align: center;
}
.red{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.red img{
    width: 100%;
}
.in_zi{
    margin-top: 56px;
}
.yinwen{
    width: 1200px;
    height: 184px;
}
.yinwen p{
    font-size: 12px;
    color: #b9b5b5;
    text-align: center;
}
.yinwen p:nth-child(3){
    margin-top: 20px;
}
/*一键分享*/
.share{
    width: 1200px;
    height: 92px;
}
.share p{
    font-size: 18px;
    color: #b9b5b5;
    margin-left: 580px;
}
.sh_box{
    width: 180px;
    height: 50px;
    margin: 20px 0 0 545px;
}
.icon2{
    font-size: 42px;
    margin-right: 10px;
}
.page{
    width: 1025px;
    height: 70px;
    background: #773a3a;
    margin: 15px auto 0;
}
.pa_left{
    width: 268px;
    height: 70px;
    float: left;
    margin-left: 96px;
}
.pa_left h1{
    font-size: 20px;
    color: #fff;
    line-height: 70px;
    float: left;
}
.pa_left p{
    font-size: 16px;
    color: #fff;
    line-height: 70px;
}
.pa_right{
    width: 268px;
    height: 70px;
    float: right;
    margin-right: 96px;
}
.pa_right h1{
    font-size: 20px;
    color: #fff;
    line-height: 70px;
    float: left;
}
.pa_right p{
    font-size: 16px;
    color: #fff;
    line-height: 70px;
}
/*热门活动结束*/
/*评论开始*/
.comment{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.aa{
    width: 1025px;
    height: 85px;
    border-bottom: 5px solid #e7e0e0;
}
.com_box{
    width: 1025px;
    height: 156px;
    /*background: skyblue;*/
    margin: 25px auto 0;
}
.com_tu{
    width: 96px;
    height: 96px;
}
.com_tu img{
    width: 100%;
}
.com_word{
    width: 985px;
    height: 110px;
    background: #f5f1f1;
    margin-left: 40px;
    margin-top: -65px;
    overflow: hidden;
}
.icon3{
    font-size: 26px;
    color: #a29f9f;
    margin-left: 78px;
    margin-right: 15px;
    line-height: 50px;
    float: left;
}
.com_word h1{
    font-size: 24px;
    color: #773a3a;
    font-family: "宋体";
    line-height: 50px;
    float: left;
}
.com_word span{
    font-size: 24px;
    color: #6d6a6a;
    font-family: "宋体";
    line-height: 50px;
    margin-left: 20px;
}
.com_word p{
    font-size: 12px;
    color: #6d6a6a;
    margin-left: 122px;
}
.fenye{
    width: 1025px;
    height: 80px;
    margin: 0 auto;
    background: pink;
    overflow: hidden;
}
.fe_box{
    width: 300px;
    height: 30px;
    background: skyblue;
    margin: 0 auto;
    margin-top: 20px;
}
/*留言开始*/
.message{
    width: 1025px;
    height: auto;
    margin: 0 auto;
}
#upload{
    height: auto;
    display: flex;
    margin-top: 50px;
    float: left;
}
#upload input{
    width: 100px;
    height:100px;
    display: block;
    font-size: 0;
    position: relative;
    outline: none;
}
#upload input:after{
    content: "+";
    width: 100%;
    position: absolute;
    height: 100%;
    left:0;
    top:0;
    background: #e1dcdc;
    font-size: 80px;
    color: #fff;
    text-align: center;
    line-height: 85px;
}

#upload ul{
    height: auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 10px;
}
.liuyan{
    width: 890px;
    height: 100px;
    background: #f3f3f3;
    border: 2px solid #848383;
    margin-left: 20px;
    margin-top: 50px;
}
.anniu{
    width: 117px;
    height: 40px;
    background: #464444;
    margin-left: 900px;
    margin-top: 30px;
    color: #fff;
}

