@font-face {
    font-family: 'iconfont';  /* project id 630324 */
    src: url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.eot');
    src: url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.woff') format('woff'),
    url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_630324_ib4xrfgi3geng66r.svg#iconfont') format('svg');
}
.iconfont
{
    font-family:'iconfont';
}
i
{
    font-style: normal;
}
.big_box{
    width: 1000px;
    height: auto;
    background: #fdfbfb;
    margin: 0 auto;
    padding: 0 88px;
    box-shadow:1px 0 100px 10px #ecebeb;
}
/*面包屑开始*/
.bread{
    width: 100%;
    height: 107px;
}
.bread p{
    font-size: 20px;
    color: black;
    line-height: 107px;
    margin-left: 10px;
    float: left;
}
.icon1{
    font-size: 20px;
    color: black;
    line-height: 107px;
    margin-left: 10px;
}
/*面包屑结束*/
/*热门活动开始*/
.activity{
    width: 100%;
    height: auto;
    margin: 0 auto 80px;
}
.act_top{
    width: 100%;
    height: 283px;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    margin-top: 66px;
}
.activity p{
    font-size: 15px;
    color: #b2b1b1;
}
.story{
    width: 100%;
    height: 51px;
    margin: 20px auto 0;
}
.s_left{
    width: 155px;
    height: 51px;
    float: left;
}
.s_left h1{
    font-size: 18px;
    color: black;
}
.s_left p{
    font-size: 16px;
    color: #000;
    margin-left: 1px;
}
.s_right{
    width: 250px;
    height: 51px;
    float: left;
}
.s_right p{
    font-size: 51px;
    color: black;
    margin-top: -10px;
    float: left;
    margin-left: -6px;
    font-weight: 300;
}
.h2{
    font-size: 32px;
    color: black;
    line-height: 51px;
    margin-left: 5px;
    font-weight: 700;
    font-family: "楷体";
}
/*热门活动开始*/
.remen{
    width:100%;
    height:200px;
}
.aa{
    margin-left: -60px;
}
.biaoshi{
    width:123px;
    height:97px;
    margin-top: 45px;
    float: left;
}
.biaoshi img{
    width: 100%;
}
.remen-img{
    width:276px;
    height:166px;
    float: left;
}
.remen-img img{
    width: 100%;
    box-shadow:1px 0 10px 5px #ecebeb;
}
.remen-content{
    width:478px;
    height:103px;
    margin-top: -135px;
    border-bottom: 2px #ccc solid;
    border-top: 2px #ccc solid;
    float: left;
    margin-left: 395px;
}
.bb{
    margin-left: 400px;
    width:535px;
    height:103px;
}
.h1{
    display: block;
    width:260px;
    height:30px;
    font-size: 18px;
    margin-top: 16px;
    margin-left: 50px;
    color: #3e3e3e;
    float: left;
    font-weight: 600;
}
.remen-content h2{
    display: block;
    font-size: 18px;
    margin-top: 16px;
    color: #c4c1c1;
    float: left;
}
.remen-content p{
    width:700px;
    height:30px;
    font-size: 14px;
    margin-left: 50px;
    color: #4B4949;
    float: left;
}
.remen-content span:nth-child(4){
    display: block;
    width:70px;
    height:30px;
    font-size: 12px;
    margin-left: 50px;
    color: #4B4949;
    float: left;
}
.remen-content span:nth-child(5){
    display: block;
    width:70px;
    height:30px;
    font-size: 12px;
    /*margin-top: 10px;*/
    margin-left: 50px;
    color: #4B4949;
    float: left;
}
/*分页*/
.paging{
    width:400px;
    height:40px;
    margin: 0 auto;
}
.paging ul{
    width:100%;
    height:100%;
    margin-top: 40px;
}
.paging ul .active{
    background: #a9a9a9;
}
.paging ul li{
    width:30px;
    height:30px;
    border-radius: 50%;
    float: left;
    background: #292420;
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin-left: 20px;
}
/*中间图*/
.middle{
    width:1000px;
    height:206px;
    margin-top: 50px;
    margin-left: -88px;
}
.middle img{
    width: 100%;
}

.renwu{
    width: 100%;
    height: 500px;
}

.whole{
    width:45%;
    height:145px;
    float: left;
    margin-left: 4%;
    margin-top: 30px;
}
.whole-img{
    width: 168px;
    height: 122px;
    margin-left: 30px;
    float: left;
}
.whole-img img{
    width: 100%;
}
.whole-ziti{
    width:290px;
    height:100%;
    float: left;
    margin-left: 220px;
    margin-top: -150px;
}
.whole-ziti span:nth-child(1){
    display: block;
    width:100%;
    height:25px;
    font-size: 14px;
    color: #CAC7C7;
    margin-top: 30px;
}
.whole-ziti p{
    display: block;
    font-size: 18px;
    color: #474749;
}
.whole-ziti h1{
    display: block;
    font-size: 18px;
    color: #474749;
}

.whole-ziti p{
    font-size: 16px;
    color: #888686;
    margin-top: 5px;
}
.whole-ziti span:nth-child(4){
    display: block;
    font-size: 12px;
    color: #747373;
    float: left;
    margin-top: 10px;
}
.whole-ziti span:nth-child(5){
    display: block;
    font-size: 12px;
    color: #747373;
    float: left;
    margin-top: 10px;
}
.gao{
    height: 220px;
}






