@import url("base.css");

@font-face {
    font-family: 'iconfont';  /* project id 630324 */
    src: url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.eot');
    src: url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.woff') format('woff'),
    url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_630324_qkmd5i4t4890y66r.svg#iconfont') format('svg');
}
.iconfont
{
    font-family:'iconfont';
}
i
{
    font-style: normal;
}


.body{
    background: #f5f5f5;
}
.main{
    width: 1000px;
    height: auto;
    background: #fdfbfb;
    box-shadow:0 20px 50px 10px #ecebeb;
   margin: 0 auto 0;


}
.crumbs{
    width: 1000px;
    height: 80px;
    padding: 0 88px;
    line-height: 80px;
    background: #fdfbfb;
    position: absolute;
    top: 470px;
    left: 50%;
    margin-left: -500px;
    z-index: 100;
    display: flex;
}
.crumbs p{
    font-size: 18px;
    color: black;
    font-weight: 600;
    line-height: 80px;
    margin-right: 10px;
    position: relative;
}
.crumbs>.ico_x{
    margin-right:10px ;
    text-align: center;
}
.icon1{
    font-size: 20px;
    color: black;
    line-height: 80px;
}
.home,.erji{
    position: relative;
    display: flex;
}

.underline{
    width: 40px;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 20px;
    left: 0;
}

/*appr开始*/
.appr{
    width: 100%;
    margin-bottom: 100px;
}
.appr_header{
    width: 100%;
    height: 280px;
    text-align: center;
    padding: 60px 0 0;
}
.appr_header>.line{
    width: 115px;
    height: 3px;
    background: #7f2d00;
    margin: 0 auto;
}
.appr_header>.name{
    margin: 35px 0 30px;
}
.name>.etitle{
    font-size: 30px;
}
.appr_header>.title{
    letter-spacing: 3px;
    font-size: 20px;
    margin-bottom: 15px;
}
.appr_header>.ee{
    letter-spacing: 12px;
}

.appr_bottom{
    padding: 0 88px;
}
.appr_bot{
    width: 100%;
    display: flex;
}
.appr_bot>.pic{
    width: 50%;
    height: 360px;
    /*background: #000;*/
}
.appr_bot>.pic>img{
    width: 100%;
}
.appr_bot>.explain{
    width: 50%;
    height: 265px;
    margin-top: 95px;
    background: #eaece7;
    padding: 50px 35px;
}
.explain>.etitle{
    font-size: 35px;
    color: #a71223;
    margin-bottom: 30px;
}
.explain>.title{
    font-size: 22px;
    color: #7f2d00;
    font-weight: 600;
    margin-bottom: 18px;
}
.explain>.des{
    font-size: 16px;
    margin-bottom: 5px;
}
.explain>.edes{
    font-size: 14px;
    color: #aaa9a8;
}

.appr_bot2{
    position: relative;
}
.appr_bot2>.pic{
    height: 265px;
}
.appr_bot2>.explain.mask{
    width: 550px;
    /*background: ;*/
    color: #fff;
    margin: 0;
    text-align: right;
    background: rgba(125,36,44,0.5);
    position: absolute;
    left:-135px;
}
.appr_bot2>.explain.mask>.etitle,.appr_bot2>.explain.mask>.title
,.appr_bot2>.explain.mask>.des{
    color: #fff;
}
.explain.mask>.des>.edes{
    color: #b4b3b3;
}


.appr_bot2>.pic{
    position: absolute;
    right: 0;
}

.appr_bot3{
    margin-top: 265px;
}
.appr_bot3>.pic{
    height: 265px;
}
.appr_bot3>.explain{
    margin: 0;
}
.appr_bot4>.explain{
    margin: 0;
    text-align: right;
}
.appr_bot4>.pic{
    height: 350px;
}


.hot_header{
    width: 100%;
    height: 240px;
    padding: 80px;
    text-align: center;
}
.hot_header>.title{
    letter-spacing: 3px;
    font-size: 20px;
}
.hot_header>.etitle{
    letter-spacing: 12px;
}
.hot_line{
    display: flex;
    margin: 10px 200px;
    justify-content: space-around;
    align-items: center;
}
.hot_line>.line{
    width: 150px;
    height: 3px;
    background: #7f2d00;
    margin: 0 auto;
}
.hot_line>.circle{
    width: 8px;
    height: 8px;
    background: #7f2d00;
    border-radius: 50%;
    margin: 0 5px;
}


.hot_bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hot_list{
    width: 30%;
    margin-bottom: 40px;
}
.hot_list>a{
    width:100%;
}
.hot_list>a>.hot_pic{
    width: 100%;
    height: 410px;
    /*background: #000;*/
}
.hot_list>a>.hot_pic>img{
    height: 100%;
}
.hot_list>a>.hot_text{
    width: 100%;
    height: 120px;
    padding: 35px 10px 0;
    text-align: center;
}
.hot_text>.title{
    font-size: 20px;
    margin-bottom: 5px;
}
.hot_text>.des{
    font-size: 14px;
    color: #9d9999;
}

