
{include file='header.html'}
<script>
    $(function () {

        let nav=$('.lanmo > li >a')
        nav.removeClass("active").eq(1).addClass("active");

        let banpic=$('.banner > img')
        banpic.removeClass("active").eq(1).addClass("active");
    })
</script>

<link rel="stylesheet" href="{CSS_PATH}chanpinxiangqing.css">
<div class="crumbs">
    <a class="home" style="display: flex"href="index.php?">
        <p>HOME</p>
        <p>首页</p>
        <div class="underline"></div>
    </a>
    <div class="ico_x"><i class="iconfont icon1">&#xe8f0;</i></div>
    <a class="home" style="display: flex"href="index.php?a=product">
    <div class="erji">
        <p>PRODUCT</p>
        <p>产品</p>
        <div class="underline"></div>
    </div>
    </a>
    <div class="ico_x"><i class="iconfont icon1">&#xe8f0;</i></div>
    <div class="erji">
        <p>{$frr['name']}</p>
    </div>

</div>
    <div class="max">
        <div class="topleft">
            <div class="line"></div>
            <div class="font">
            <p class="fontleft">PRODUCT</p>
            <p class="fontright">APPRECIATION</p>
            </div>
            <div class="english">Love is not rent,wedding is the witness of love and inheritance</div>
            <div class="productoppr">产 / 品 / 欣 / 赏</div>
            <div class="opprbottom">C H A N P I N</div>
        </div>
        <div class="wedding">
            <div class="wedtop">{$frr['ename']}</div>
            <div class="wedmid"> {$frr['name']}</div>
            <div class="wedbot">{$frr['des']}</div>

        </div>
        <div class="wedbottom">
            <div class="wedleft">
                <img src="{$imgfor[0]}" alt="图片" >  </div>
            <div class="wedright">
                <img src="{$imgfor[1]}" alt="图片" >
            </div>
        </div>
        <div class="design">
            <div class="box"></div>
            <div class="lange">设计师说</div>
            <div class="elange">DESINGER</div>
        </div>
        <div class="des">
            <div class="desboder">
            <div class="desimg" >
                <img src="{$arr[0]['img']}" alt="">
            </div>
            </div>

            <div class="desspack">
                <p class="jiedu"> {$arr[0]['title']}</p>
                <div class="spack">
                    {$arr[0]['content']}
                </div>
            </div>
        </div>
        <div class="design">
            <div class="box"></div>
            <div class="lange">作品信息</div>
            <div class="elange">DESINGER</div>
        </div>
  <div class="zuopin">
      <div class="zuopinimg">
          <img src="{$img[0]}" alt="">
      </div>
      <div class="zuopinmid">
          <div class="midtop" style="padding-top: 15px">
              {$brr[0]['content']}

          </div>
          <div class="midbot">
              <img src="{IMG_PATH}aaa.png" alt="">
          </div>
      </div>
      <div class="zuopinright">
          <img src="{$img[1]}" alt="" style="display: block;margin-top: 19px;">
      </div>
    </div>
        <div class="design">
            <div class="box"></div>
            <div class="lange">设计亮点</div>
            <div class="elange">DESINGER</div>
        </div>
        <div class="light">
            <div class="lightone">
                 <div class="onetop"> {$crr[0]['nub']}/<span>  {$crr[0]['des']}</span></div>
                <div class="leftimg">
                    <img src="{$imgone[0]}" alt="" >
                </div>
                <div class="rightimg">
                    <img src="{$imgone[1]}" alt="" >
                </div>
                <div class="wenzi">
                {$crr[0]['content']}
                </div>

            </div>
            <div class="lightone two">
                <div class="onetop "> {$crr[1]['nub']}/<span>  {$crr[1]['des']}</span></div>
                <div class="leftimg">
                    <img src="{$imgtwo[0]}" alt="" >
                </div>
                <div class="rightimg">
                    <img src="{$imgtwo[1]}" alt="" >
                </div>
                <div class="wenzi">
                    {$crr[1]['content']}
                </div>

            </div>

            <div class="lightone three">
                <div class="onetop">  {$crr[2]['nub']}/<span id="span">  {$crr[2]['des']}</span></div>

                <div class="rightimg" id="threeleft">
                    <img src="{$imgthree[1]}" alt="" >

                </div>
                               <div class="leftimg" id="threeright">
                    <img src="{$imgthree[0]}" alt="" >
                </div>

                <div class="wenzi" id="wenzi">
                    {$crr[2]['content']}
                </div>
            </div>


        </div>

        <div class="design">
            <div class="box"></div>
            <div class="lange">原版工艺</div>
            <div class="elange">DESINGER</div>
        </div>
<div style="width: 100%; height: 800px; display: flex;flex-wrap: wrap">
    {foreach $drr as $item}
     <div class="gongyi">
        <div class="gongyiimg">
            <img src="{$item['img']}" alt="图片呀">
        </div>
        <div class="zhuti">{$item['title']}</div>
        <p class="zhuwen">{$item['content']}</p>
    </div>

   {/foreach}

</div>
        <div class="design">
            <div class="box"></div>
            <div class="lange">物品实拍</div>
            <div class="elange">DESINGER</div>
        </div>
        <div class="IMG imgs">
            <img src="{$imgerr[1]}" alt="">
        </div>
        <div class="IMG">
            <img src="{$imgerr[0]}" alt="">
        </div>


<div class="page">
    <a class="pa_left" style="display: block" href="index.php?a=picdatail&id={$grr['id']}">
        <h1>上一篇：</h1>
        <p>{$grr['name']}</p>
    </a>
    <a class="pa_right" style="display: block"href="index.php?a=picdatail&id={$hrr['id']}">
        <h1>下一篇：</h1>
        <p>{$hrr['name']}</p>
    </a>
</div>

        <section class="comment">
            <div class="design">
                <div class="box"></div>
                <div class="lange">产品评论</div>
                <div class="elange">DESINGER</div>
            </div>
<div id="messbox">
{foreach $mess as $item}
            <div class="com_box">
                <div class="com_tu">
                    <img src="{$item['img']}" alt="">
                </div>
                <div class="com_word">
                    <i class="iconfont icon3">&#xe628;</i>
                    <h1>{$item['name']}</h1>
                    <span>{$item['time']}</span>
                    <p>{$item['content']}</p>
                </div>
            </div>
{/foreach}
</div>
        </section>
        <!--评论结束-->
        <!--留言开始-->
        <section class="message">
            <div class="design">
                <div class="box"></div>
                <div class="lange">产品留言</div>
                <div class="elange">DESINGER</div>
            </div>

            <div id="upload">
            <input type="file" name="img" multiple>
            <ul class="imgul" style="margin-left: -50%;margin-top: 10px">

            </ul>
        </div>
            <!--<input type="file">-->
            <div class="liuyanbox" >
                <textarea class="liuyan" name="" id="{$frr['id']}" cols="30" rows="10" placeholder="请输入你想说的话..."></textarea>
                <button class="anniu">评论</button>
            </div>


        </section>
        <!--留言结束-->

    </div>


{include file='footer.html'}
<script>
    let input=document.querySelector('#upload > input[type=file]');
    let size=1024*1024*2;
    let type=['image/png','image/jpeg','image/gif'];
    let imgul=document.querySelector('.imgul')
    input.onchange=function () {
        imgul.innerHTML=''
        let arr=this.files;
        for(let i=0;i<arr.length;i++){
            if(arr[i].size>size ){
                alert('图片大小不正确');
                return;
            }else if(!type.includes(arr[i].type)){
                alert('图片格式不正确');
                return;
            }
        }

        for(let i=0;i<arr.length;i++){
            let fileread=new FileReader();
            fileread.readAsDataURL(arr[i]);
            fileread.onload=function (e) {
                let li=document.createElement('li');
                let div=document.createElement('div');
                div.style.cssText="width:0%;height:2px;border-radius:2px;" +
                    "background:#ccc;position:absolute;left:0;bottom:0;"
                li.style.cssText="width:100px;height:100px;border:1px solid #ccc;" +
                    "float:left;margin-right:5px;position:relative;" +
                    "background-image:url("+this.result+");background-size:cover"
                li.appendChild(div)
                imgul.appendChild(li)

                let formdata=new FormData();
                formdata.append('file',arr[i]);

                let ajax=new XMLHttpRequest();
                ajax.upload.onprogress=function (e) {
                    let width=e.loaded/e.total*100
                    div.style.width=width+'%';
                };
                ajax.onload=function () {
                    let inp=document.createElement('input');
                    inp.type='hidden';
                    inp.name='img';
                    inp.id='input'
                    inp.value=ajax.responseText;
                    input.parentNode.appendChild(inp);
                };
                ajax.open('post',"index.php?m=admin&f=menu&a=upload");
                ajax.send(formdata)
            };
        }
    }


    $('.anniu').click(function () {
        $.ajax({
            url:"index.php?a=addmess",
            data:{
                mess:$('.liuyanbox textarea').val(),
                id:$('.liuyanbox textarea').attr('id'),
                img:$('#input').val()
            },
            success:function (arr) {
//                console.log(arr);
                if(arr == 0){
                    alert('发布失败')
                }else{
                    let json=JSON.parse(arr);
                    $("<div class='com_box'>").html( `

              <div class="com_tu">
                <img src="${ json.img}" alt="">
               </div>
               <div class="com_word">
                <i class="iconfont icon3">&#xe628;</i>
                <h1>${ json.name}</h1>
                <span>${ json.time}</span>
                <p>${ json.content}</p>
            </div>
                    `
                    ).prependTo('#messbox')
                }
                $('.liuyanbox textarea').val('')

            }
        })






    })

</script>