<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章列表详情</title>
    <link rel="stylesheet" href="../../assets/css/essay-details.css">
</head>
<body>
<!--面包屑开始-->
<section class="bread">
    <p>HOME</p>
    <p>首页</p>
    <p><i class="iconfont icon1">&#xe8f0;</i></p>
    <p>ACTIVITY</p>
    <p>活动</p>
    <p><i class="iconfont icon1">&#xe8f0;</i></p>
    <p>蔡美月绽放纽约国际时装周</p>
</section>
<!--面包屑结束-->
<!--热门活动开始-->
<section class="activity">
    <div class="act_top">
        <div class="logo">
            <img src="../../assets/img/popular.png" alt="">
        </div>
        <p>Love is not a tradition, wedding is love</p>
        <div class="story">
            <div class="s_left">
                <h1>Popular Activity</h1>
                <p>蔡美月</p>
            </div>
            <div class="s_right">
                <p>/</p>
                <h2>&nbsp;热门活动</h2>
            </div>
         </div>
    </div>
    <div class="wenzi">
        <h1>蔡美月绽放纽约国际时装周</h1>
        <h2>MIN MIN SAU PROCESS</h2>
        <h3>呈现精湛的千年闽秀工艺</h3>
        <p>2018.03.03</p>
    </div>
    <div class="introduce">
        <h1>中国原创设计师的创意力量  /</h1>
        <h2>&nbsp;CHINA'S CREATIVE POWER</h2>
        <p class="zi1">此次时装秀场地再次聚焦在纽约时装周主办方CFDA指定的著名四大主场之一的59号码头（Pier 59）。这场备受瞩目的婚纱盛宴还融合了闽绣</p>
        <p>精湛工艺，闽绣以其鲜艳的色彩，夸张的手法，烘托出婚纱礼服华美大气的视觉效果，为婚服更添喜庆吉祥的色彩。</p>
    </div>
    <div class="introduce1">
        <h1>独特的设计手法  /</h1>
        <h2>&nbsp;UNIQUE DESIGN TECHNIQUES</h2>
        <p class="zi1">其独特的蔡氏镂空刺绣法荣获国家五项专利，在婚纱界乃至全世界都是别具一格的。蔡美月将东方传统文化结合闽秀千年传承技艺融入现代婚纱</p>
        <p>礼服之中，不仅演绎了传奇色彩和伟大的传承精神，更重塑了中国的嫁衣文化。</p>
    </div>
    <div class="red">
        <img src="../../assets/img/active.png" alt="">
    </div>
    <div class="introduce1 in_zi">
        <h1>中国婚纱第一人  /</h1>
        <h2>&nbsp;CHINESE WEDDING FIRST PERSON</h2>
        <p class="zi1">被誉为“中国婚纱第一人”的中国著名设计师蔡美月曾连续三年获得中国十佳设计师称号，并多次获邀为博鳌论坛，多哈亚运会等各大盛事代表</p>
        <p>中国婚纱文化展示“时尚秀”，2010年在北京钓鱼台国宾馆荣获“中国纺织服装行业十大风云人物”。</p>
    </div>
    <div class="introduce">
        <h1>不抄袭、不仿制的信念  /</h1>
        <h2>&nbsp;CHINESE WEDDING FIRST PERSON</h2>
        <p class="zi1">二十年来，作为品牌创始人蔡美月坚持不抄袭不仿冒，始终致力于中国传统嫁衣文化的传承和推广，在精美的设计中融入传统民族元素，设计灵</p>
        <p>感引用“带代相传”——这一中华民族寓意幸福和繁衍不息的理念，将母亲对孩子的美好祝福，吉祥美满的寓意用一件件匠心独运的嫁衣的形</p>
        <p>式呈现出来。</p>
    </div>
    <div class="yinwen">
        <p>Twenty years ago, as the founder of the brand, Cai Mei-yue insisted on not copying and not imitating. He always devoted himself to the </p>
        <p>inheritance and promotion of Chinese traditional wedding dress culture. </p>
        <p>In the beautiful design, he incorporated the traditional national elements. The inspiration of design was quoted from generation to gener</p>
        <p>ation.</p>
    </div>
<!--一键分享-->
    <div class="share">
        <p>一键分享</p>
        <div class="sh_box">
            <i class="iconfont icon2">&#xe65b;</i>
            <i class="iconfont icon2">&#xe657;</i>
            <i class="iconfont icon2">&#xe66b;</i>
        </div>
    </div>
    <div class="page">
        <div class="pa_left">
            <h1>上一篇：</h1>
            <p>蔡美月国际婚纱回顾</p>
        </div>
        <div class="pa_right">
            <h1>下一篇：</h1>
            <p>国际时装周圆满成功</p>
        </div>
    </div>
</section>
<!--热门活动结束-->
<!--评论开始-->
<section class="comment">
    <div class="story aa">
        <div class="s_left">
            <h1>Popular Activity</h1>
            <p>蔡美月</p>
        </div>
        <div class="s_right">
            <p>/</p>
            <h2>&nbsp;评论</h2>
        </div>
    </div>
    <div class="com_box">
        <div class="com_tu">
            <img src="../../assets/img/com-1.png" alt="">
        </div>
        <div class="com_word">
            <i class="iconfont icon3">&#xe628;</i>
            <h1>青春正年少</h1>
            <span>2018-04-16 00:00:00</span>
            <p>在帝国大厦的举行的新闻发布会上，蔡美月女士在采访中说，“我一直很坚持我的信念，这次来纽约就是证明中国的千年闽绣和</p>
            <p>我的机绣雕刻法25年也能时尚化国际化。</p>
        </div>
    </div>
    <div class="com_box">
        <div class="com_tu">
            <img src="../../assets/img/com-2.png" alt="">
        </div>
        <div class="com_word">
            <i class="iconfont icon3">&#xe628;</i>
            <h1>青春正年少</h1>
            <span>2018-04-16 00:00:00</span>
            <p>在帝国大厦的举行的新闻发布会上，蔡美月女士在采访中说，“我一直很坚持我的信念，这次来纽约就是证明中国的千年闽绣和</p>
            <p>我的机绣雕刻法25年也能时尚化国际化。</p>
        </div>
    </div>
    <div class="com_box">
        <div class="com_tu">
            <img src="../../assets/img/com-3.png" alt="">
        </div>
        <div class="com_word">
            <i class="iconfont icon3">&#xe628;</i>
            <h1>青春正年少</h1>
            <span>2018-04-16 00:00:00</span>
            <p>在帝国大厦的举行的新闻发布会上，蔡美月女士在采访中说，“我一直很坚持我的信念，这次来纽约就是证明中国的千年闽绣和</p>
            <p>我的机绣雕刻法25年也能时尚化国际化。</p>
        </div>
    </div>
    <!--分页-->
    <div class="fenye">
         <div class="fe_box">

         </div>
    </div>
</section>
<!--评论结束-->
<!--留言开始-->
<section class="message">
    <div class="story aa">
        <div class="s_left">
            <h1>Popular Activity</h1>
            <p>蔡美月</p>
        </div>
        <div class="s_right">
            <p>/</p>
            <h2>&nbsp;留言</h2>
        </div>
    </div>

    <div id="upload">
        <input type="file" name="img" multiple>
        <ul class="imgul"></ul>
    </div>
    <textarea class="liuyan" name="" id="" cols="30" rows="10" placeholder="请输入你想说的话..."></textarea>
    <button class="anniu">评论</button>
</section>
<!--留言结束-->
</body>
</html>