{include file='header.html'}
<link rel="stylesheet" href="{CSS_PATH}list.css">

<!--面包屑开始-->
<div class="crumbs">
    <div class="home">
        <p>HOME</p>
        <p>首页</p>
        <div class="underline"></div>
    </div>
    <div class="ico_x"><i class="iconfont icon1">&#xe8f0;</i></div>
    <div class="erji">
        <p>BRAND</p>
        <p>品牌</p>
        <div class="underline"></div></div>

</div>
<!--面包屑结束-->


<div class="big_box">

<!--热门活动开始-->
<section class="activity">
    <div class="act_top">
        <div class="logo">
            <img src="../../assets/img/1.png" alt="">
        </div>
        <p>Love is not a tradition, wedding is love</p>
        <div class="story">
            <div class="s_left">
                <h1>Popular Activity</h1>
                <p>蔡美月</p>
            </div>
            <div class="s_right">
                <p>/</p>
                <div class="h2">&nbsp;热门活动</div>
                <!--<h2>&nbsp;热门活动</h2>-->
            </div>
        </div>
    </div>
    <div class="remen">
        <div class="biaoshi">
            <img src="../../assets/img/remen.png" alt="">
        </div>
        <div class="remen-img">
            <img src="../../assets/img/remen1.png" alt="">
        </div>
        <div class="remen-content">
            <div class="h1">厦门国际时装周圆满成功</div>
            <h2>FASHION WEEK</h2>
            <p>结合中国民族文化特色，极具有东方色彩</p>
            <span>999人浏览</span>
            <span>2018.03.08</span>
        </div>
    </div>
    <div class="remen aa">
        <div class="biaoshi">
            <img src="../../assets/img/remen2.png" alt="">
        </div>
        <div class="remen-img">
            <img src="../../assets/img/remen4.png" alt="">
        </div>
        <div class="remen-content bb">
            <div class="h1">厦门国际时装周圆满成功</div>
            <h2>FASHION WEEK</h2>
            <p>结合中国民族文化特色，极具有东方色彩</p>
            <span>999人浏览</span>
            <span>2018.03.08</span>
        </div>
    </div>
    <div class="remen">
        <div class="biaoshi">
            <img src="../../assets/img/remen3.png" alt="">
        </div>
        <div class="remen-img">
            <img src="../../assets/img/remen5.png" alt="">
        </div>
        <div class="remen-content">
            <div class="h1">厦门国际时装周圆满成功</div>
            <h2>FASHION WEEK</h2>
            <p>结合中国民族文化特色，极具有东方色彩</p>
            <span>999人浏览</span>
            <span>2018.03.08</span>
        </div>
    </div>

    <!--分页-->
    <div class="paging">
        <ul>
            <li><-</li>
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>-></li>
        </ul>
    </div>
    <!--中间图-->
    <div class="middle">
        <img src="../../assets/img/zhong.png" alt="">
    </div>

    <div class="act_top gao">
        <div class="logo">
            <img src="../../assets/img/1.png" alt="">
        </div>
        <p>Love is not a tradition, wedding is love</p>
        <div class="story">
            <div class="s_left">
                <h1>Popular Activity</h1>
                <p>蔡美月</p>
            </div>
            <div class="s_right">
                <p>/</p>
                <div class="h2">&nbsp;全部活动</div>
            </div>
        </div>
    </div>

    <div class="renwu">
        <div class="whole">
            <div class="whole-img">
                <img src="../../assets/img/whole.png" alt="">
            </div>
            <div class="whole-ziti">
                <span>Fashion WORKS</span>
                <h1>中国杰出女民营企业家</h1>
                <p>中国婚纱领军人物</p>
                <span>999人浏览</span>
                <span>2018.03.08</span>
            </div>
        </div>
        <div class="whole">
            <div class="whole-img">
                <img src="../../assets/img/whole.png" alt="">
            </div>
            <div class="whole-ziti">
                <span>Fashion WORKS</span>
                <h1>挑战最长婚纱拖尾</h1>
                <p>中国婚纱领军人物</p>
                <span>999人浏览</span>
                <span>2018.03.08</span>
            </div>
        </div>
        <div class="whole">
            <div class="whole-img">
                <img src="../../assets/img/whole.png" alt="">
            </div>
            <div class="whole-ziti">
                <span>Fashion WORKS</span>
                <h1>中国杰出女民营企业家</h1>
                <p>中国婚纱领军人物</p>
                <span>999人浏览</span>
                <span>2018.03.08</span>
            </div>
        </div>
        <div class="whole">
            <div class="whole-img">
                <img src="../../assets/img/whole.png" alt="">
            </div>
            <div class="whole-ziti">
                <span>Fashion WORKS</span>
                <h1>挑战最长婚纱拖尾</h1>
                <p>中国婚纱领军人物</p>
                <span>999人浏览</span>
                <span>2018.03.08</span>
            </div>
        </div>

        <div class="paging">
            <ul>
                <li><-</li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>-></li>
            </ul>
        </div>
    </div>
</section>
</div>
{include file='footer.html'}
</body>
</html>