<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../assets/css/list.css">
    <link rel="stylesheet" href="../../assets/css/base.css">
</head>
<body>
<!--面包屑开始-->
<section class="bread">
    <p>HOME</p>
    <p>首页</p>
    <p><i class="iconfont icon1">&#xe8f0;</i></p>
    <p>ACTIVITY</p>
    <p>活动</p>
    <p><i class="iconfont icon1">&#xe8f0;</i></p>
    <p>蔡美月绽放纽约国际时装周</p>
</section>
<!--面包屑结束-->
<!--热门活动开始-->
<section class="activity">
    <div class="act_top">
        <div class="logo">
            <img src="img/1.png" alt="">
        </div>
        <p>Love is not a tradition, wedding is love</p>
        <div class="story">
            <div class="s_left">
                <h1>Popular Activity</h1>
                <p>蔡美月</p>
            </div>
            <div class="s_right">
                <p>/</p>
                <h2>&nbsp;热门活动</h2>
            </div>
        </div>
    </div>
    <div class="remen">
        <div class="biaoshi">
            <img src="img/remen.png" alt="">
        </div>
        <div class="remen-img">
            <img src="img/remen1.png" alt="">
        </div>
        <div class="remen-content">
            <h1>厦门国际时装周圆满成功</h1>
            <h2>Fashion Week</h2>
            <p>结合中国民族文化特色，极具有东方色彩</p>
            <span>999人浏览</span>
            <span>2018.03.08</span>
        </div>
    </div>
    <div class="remen1">
        <div class="biaoshi1">
            <img src="img/remen2.png" alt="">
        </div>
        <div class="remen-img">
            <img src="img/remen4.png" alt="">
        </div>
        <div class="remen-content1">
            <h1>厦门国际时装周圆满成功</h1>
            <h2>Fashion Week</h2>
            <p>结合中国民族文化特色，极具有东方色彩</p>
            <span>999人浏览</span>
            <span>2018.03.08</span>
        </div>
    </div>
    <div class="remen Three">
        <div class="biaoshi">
            <img src="img/remen3.png" alt="">
        </div>
        <div class="remen-img">
            <img src="img/remen5.png" alt="">
        </div>
        <div class="remen-content">
            <h1>厦门国际时装周圆满成功</h1>
            <h2>Fashion Week</h2>
            <p>结合中国民族文化特色，极具有东方色彩</p>
            <span>999人浏览</span>
            <span>2018.03.08</span>
        </div>
    </div>
    <div class="paging">
        <ul>
            <li><-</li>
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>-></li>
        </ul>
    </div>
    <div class="middle">
        <img src="img/zhong.png" alt="">
    </div>
    <div class="act_top">
        <div class="logo">
            <img src="img/1.png" alt="">
        </div>
        <p>Love is not a tradition, wedding is love</p>
        <div class="story">
            <div class="s_left">
                <h1>Popular Activity</h1>
                <p>蔡美月</p>
            </div>
            <div class="s_right">
                <p>/</p>
                <h2>&nbsp;全部活动</h2>
            </div>
        </div>
    </div>
    <div class="whole">
        <div class="whole-img">
            <img src="img/whole.png" alt="">
        </div>
        <div class="whole-ziti">
            <span>Fashion WORKS</span>
            <h1>中国杰出女民营企业家</h1>
            <h2>中国婚纱领军人物</h2>
            <span>999人浏览</span>
            <span>2018.03.08</span>
        </div>
    </div>
    <div class="whole">
        <div class="whole-img">
            <img src="img/whole.png" alt="">
        </div>
        <div class="whole-ziti">
            <span>Fashion WORKS</span>
            <h1>中国杰出女民营企业家</h1>
            <h2>中国婚纱领军人物</h2>
            <span>999人浏览</span>
            <span>2018.03.08</span>
        </div>
    </div>
    <div class="whole">
        <div class="whole-img">
            <img src="img/whole.png" alt="">
        </div>
        <div class="whole-ziti">
            <span>Fashion WORKS</span>
            <h1>中国杰出女民营企业家</h1>
            <h2>中国婚纱领军人物</h2>
            <span>999人浏览</span>
            <span>2018.03.08</span>
        </div>
    </div>
    <div class="whole">
        <div class="whole-img">
            <img src="img/whole.png" alt="">
        </div>
        <div class="whole-ziti">
            <span>Fashion WORKS</span>
            <h1>中国杰出女民营企业家</h1>
            <h2>中国婚纱领军人物</h2>
            <span>999人浏览</span>
            <span>2018.03.08</span>
        </div>
    </div>
    <div class="paging1">
        <ul>
            <li><-</li>
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>-></li>
        </ul>
    </div>
</section>
</body>
</html>