{include file='header.html'}
<link rel="stylesheet" href="{CSS_PATH}list.css">


<div class="crumbs">
    <a class="home"  style="display: block" href="index.php?">
        <p>HOME</p >
        <p>首页</p >
        <div class="underline"></div>
    </a>
    <div class="ico_x"><i class="iconfont icon1">&#xe8f0;</i></div>
    <div class="erji">
        <p>Active</p >
        <p>活动</p >
        <div class="underline"></div></div>
</div>
<!--面包屑结束-->


<div class="big_box">

<!--热门活动开始-->
<section class="activity">
    <div class="act_top">
        <div class="logo">
            <img src="{IMG_PATH}/1.png" alt="">
        </div>
        <p>Love is not a tradition, wedding is love</p>
        <div class="story">
            <div class="s_left">
                <h1>Popular Activity</h1>
                <p>蔡美月</p>
            </div>
            <div class="s_right">
                <p>/</p>
                <div class="h2">&nbsp;热门活动</div>
                <!--<h2>&nbsp;热门活动</h2>-->
            </div>
        </div>
    </div>
    <div class="remen">
        <div class="biaoshi">
            <img src="{IMG_PATH}/remen.png" alt="">
        </div>
        <div class="remen-img">
            <img src="{$arr[0]['img']}" alt="">
        </div>
        <a class="remen-content" style="display: block" href="index.php?a=actdetail&id={$arr[0]['id']}">
            <div class="h1">{$arr[0]['title']}</div>
            <h2>FASHION WEEK</h2>
            <p>{$arr[0]['des']}</p>
            <span>{$arr[0]['count']}人浏览</span>
            <span>{$arr[0]['time']}</span>
        </a>
    </div>
    <div class="remen aa">
        <div class="biaoshi">
            <img src="{IMG_PATH}/remen2.png" alt="">
        </div>
        <div class="remen-img">
            <img src="{$arr[1]['img']}" alt="">
        </div>
        <a class="remen-content bb" style="display: block" href="index.php?a=actdetail&id={$arr[1]['id']}">
            <div class="h1">{$arr[1]['title']}</div>
            <h2>FASHION WEEK</h2>
            <p>{$arr[1]['des']}</p>
            <span>{$arr[1]['count']}人浏览</span>
            <span>{$arr[1]['time']}</span>
        </a>
    </div>
    <div class="remen">
        <div class="biaoshi">
            <img src="{IMG_PATH}/remen3.png" alt="">
        </div>
        <div class="remen-img">
            <img src="{$arr[2]['img']}" alt="">
        </div>
        <a class="remen-content" style="display: block" href="index.php?a=actdetail&id={$arr[2]['id']}">
            <div class="h1">{$arr[2]['title']}</div>
            <h2>FASHION WEEK</h2>
            <p>{$arr[2]['des']}</p>
            <span>{$arr[2]['count']}人浏览</span>
            <span>{$arr[2]['time']}</span>
        </a>
    </div>

    <!--分页-->

    <!--中间图-->
    <div class="middle">
        <img src="{IMG_PATH}/zhong.png" alt="">
    </div>

    <div class="act_top gao">
        <div class="logo">
            <img src="{IMG_PATH}/1.png" alt="">
        </div>
        <p>Love is not a tradition, wedding is love</p>
        <div class="story">
            <div class="s_left">
                <h1>Popular Activity</h1>
                <p>蔡美月</p>
            </div>
            <div class="s_right">
                <p>/</p>
                <div class="h2">&nbsp;全部活动</div>
            </div>
        </div>
    </div>

    <div class="renwu">
        {foreach $brr as $item}
        <a class="whole" style="display: block" href="index.php?a=actdetail&id={$item['id']}">
            <div class="whole-img">
                <img src="{$item['img']}" alt="">
            </div>
            <div class="whole-ziti">
                <span>Fashion WORKS</span>
                <h1>{$item['title']}</h1>
                <p>{$item['des']}</p>
                <span>{$item['count']}人浏览</span>
                <span>{$item['time']}</span>
            </div>
        </a>
        {/foreach}

        <div class="paging">
            {$str}
        </div>
    </div>
</section>
</div>
{include file='footer.html'}
</body>
</html>