{include file='header.html'}
<link rel="stylesheet" href="{CSS_PATH}product.css">
<script>
    $(function () {

        let nav=$('.lanmo > li >a')
        nav.removeClass("active").eq(1).addClass("active");

        let banpic=$('.banner > img')
        banpic.removeClass("active").eq(1).addClass("active");
    })
</script>

    <div class="crumbs">
        <a class="home"  style="display: block" href="index.php?">
            <p>HOME</p>
            <p>首页</p>
            <div class="underline"></div>
        </a>
        <div class="ico_x"><i class="iconfont icon1">&#xe8f0;</i></div>
        <div class="erji">
            <p>Product</p>
            <p>产品</p>
            <div class="underline"></div></div>
    </div>

<div class="main">
    <section class="appr">
        <div class="appr_header">
            <div class="line"></div>
            <div class="name">
                <div class="etitle">Product Appreciation</div>
                <div class="des">Love is not rent, wedding is the witness of love and inheritances！</div>
            </div>
            <div class="title">产/品/欣/赏</div>
            <div class="ee">CHANPIN</div>
        </div>
        <div class="appr_bottom">

            <div class="appr_bot">
                <div class="pic">
                    <img src="{$arr['0']['img']}" alt="">
                </div>
                <div class="explain">
                    <div class="etitle">{$arr['0']['ename']}</div>
                    <div class="title">{$arr['0']['xilie']}</div>
                    <div class="des">{$arr['0']['des']}</div>
                    <div class="edes">{$arr['0']['edes']}</div>
                </div>
            </div>

            <div class="appr_bot appr_bot2">
                <div class="pic_img">
                    <img src="{$arr['1']['img']}" alt="">
                </div>
                <div class="explain mask">

                    <div class="etitle">{$arr['1']['ename']}</div>
                    <div class="title">{$arr['1']['xilie']}</div>
                    <div class="des">{$arr['1']['des']}</div>
                    <div class="edes">{$arr['1']['edes']}</div>

                </div>
                <div class="pic">
                    <img src="{$arr['1']['img']}" alt="">
                </div>
            </div>
            <div class="appr_bot appr_bot3">
                <div class="pic">
                    <img src="{$arr['2']['img']}" alt="">
                </div>
                <div class="explain">
                    <div class="etitle">{$arr['2']['ename']}</div>
                    <div class="title">{$arr['2']['xilie']}</div>
                    <div class="des">{$arr['2']['des']}</div>
                    <div class="edes">{$arr['2']['edes']}</div>
                </div>
            </div>
            <div class="appr_bot appr_bot4">
                <div class="explain">
                    <div class="etitle">{$arr['3']['ename']}</div>
                    <div class="title">{$arr['3']['xilie']}</div>
                    <div class="des">{$arr['3']['des']}</div>
                    <div class="edes">{$arr['3']['edes']}</div>
                </div>
                <div class="pic">
                    <img src="{$arr['3']['img']}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="hot">
        <div class="hot_header">
            <div class="title">热/门/产/品</div>
            <div class="hot_line">
                <div class="line"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="line"></div>
            </div>
            <div class="etitle">CHANPIN</div>
        </div>

        <ul class="hot_bottom">
            {foreach $brr as $item}
            <li class="hot_list">
                <a href="index.php?a=picdatail&id={$item['id']}"  style="display: block">
                <div class="hot_pic">
                    <img src="{$item['thumb']}" alt="">
                    <div class="hot_zhe">
                        <i class="iconfont iconzhe">&#xe606;</i>
                    </div>
                </div>
                <div class="hot_text">
                    <div class="title">{$item['name']}</div>
                    <p class="des">{$item['cont']}</p>
                </div>
                </a>
            </li>
            {/foreach}
        </ul>
    </section>

</div>
{include file='footer.html'}

</body>
</html>